
html, body, #root, .map, .main, .uploader
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #171717;
}

.map
{
  padding: 16px;
  width: 100%;
  height: calc(100% - 200px);
  box-sizing: border-box;
}

.main
{
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 9999;

  .container
  {
    box-sizing: border-box;
    color: #FFFFFF;
    width: 98%;
    margin: 0 auto;

    h1
    {
      margin-top: 0;
    }
  }
}

.uploader
{
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading
{
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
  display: none;

  p
  {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}

.dropzone
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons
{
  color: #FFFFFF;
  opacity: 0.5;
}

.icons.active
{
  color: #FFFFFF;
  opacity: 1;
}

.log
{
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  overflow: scroll;
}

.log-table
{
  font-size: 11px;
  color: #DEDEDE;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #343434;
  box-sizing: border-box;

  thead
  {
    background-color: #111111;
    position: sticky;
    top: 0;
  }

  th
  {
    color: #FFFFFF;
    font-weight: bolder;
  }

  tbody
  {
    background-color: #212121;

    tr
    {
      cursor: pointer;
    }
  }

  th, td
  {
    padding: 4px 8px;
    text-align: left;
    border-bottom: 2px solid #444444;
  }

  a
  {
    color: #FFFFFF;
  }

  a:hover
  {
    color: #FFCCCC;
  }
}
